body{

 position: relative;
}
.barra_herramienta{
 border: 1px solid red;
 width: 200px;
 height: 600px;
 background-color: #8A2BE2;
 position: absolute;
}
.contenedor{
 border: 1px solid black;
 width: 800px;
 height: 600px;
 background-color: #5F9EA0;
 position: absolute;
 left: 205px;
}